/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*header syles*/

.logo-img {
    width: 90px;
    display: inline-block;
}

.logo-text {
    font-family: 'Satisfy', cursive;
    color: #F37972; /*base orange*/
    display: inline-block;
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
/*Hero Styles*/

.hero {
    background-image: url('../img/hero.jpg');
    height: 350px;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}

.white-text {
    color: #fff;
}

.hero .white-text {
    font-size: 2em;
}

/*featured products*/

.featured {
    padding-top: 30px;
}

.product {
    background-color: #edf1f4; /*light grey */
    padding: 8px 12px;
}



/*footer*/

footer {
    background-color: #231f20;
    color: #9a9a9b;
    padding: 15px;
    margin: 50px 0;
}

footer img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

footer ul {
    list-style-type: none;
    padding-top: 10px;
}

footer a {
    color: inherit;
}

.center {
    border-left: 1px solid #3d3b3b;
    border-right: 1px solid #3d3b3b;
}

.social {
    padding: 10px 0 0;
}

.copyright {
    color: #424041;
    margin-top: 10px;
}

@media screen and (max-width: 760px) {
    footer ul {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .social {
        display: block;
        margin: 0 auto;
    }
}
